
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Assistant:wght@200&family=Corinthia:wght@700&family=Cormorant+Garamond:wght@300&family=Kalam:wght@300&family=Oswald:wght@200&family=Poppins&family=Tajawal:wght@200;300;400&display=swap');


*{
  padding: 0;
  margin: 0;
}

body{
  font-family: "";
}

a{
  font-weight: bolder;
}

/* styling for navbar component*/
.nav-bar{
  height: 7rem;
  background-color: white;
  /* box-shadow: 5px 5px 15px rgba(141, 140, 140, 0.9); */
}

.brand-flex{
  display: flex;
  margin-left: 3rem;
}

.brand-flex h2{
  margin-top: 1rem;
  color: rgb(228, 114, 137);
  font-family: "Oswald";
  font-weight: bolder;

  
}



.nav-links{
  margin-left: 10rem;
  font-family: 'Oswald';
  font-weight: bold;
}

.header-social{
  font-size: 3rem;
  color: rgb(228, 114, 137);;
}

 .register-btn{
  padding: 0.7rem 3rem;
  background-color: rgb(228, 114, 137);
  outline: none;
  border: none;
  border-radius: 1rem;
  color: white;
  margin-right: 4rem;
  font-family: "Oswald";
}



.search-width{
  width: 50%;
  

}

/* styling the showcase */
.text{
  text-align: center;
  padding-top: 10rem;
  font-weight: bolder;
}



.light-background{
  background-color: rgba(229, 156, 171, 0.3);
  padding-top: 6rem;
  width: 100%;
  animation: mymove 5s infinite;
}

@keyframes mymove{
  from {background-color: rgba(89, 40, 187, 0.3);}
  to {background-color: rgba(99, 23, 116, 0.3);}
}

.home-card{
  background-color: white;
  box-shadow: 5px 5px 15px rgba(175, 174, 174, 0.9);
}

.card-image img{
  width: 30rem;
  height: 35rem ;
  object-fit: cover;
  object-position: 50% 50%;
  

}

/* styling book component*/


.book-card{
   min-height: 100vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(175, 174, 174, 0.9);
  
}


.contain{
  width: 80%;
   margin: 1rem auto; 
}

.form-outline{
  outline: none;
  border: 1px solid black;
}

Button .btn-primary{
  background-color:rgb(228, 114, 137) important! ;
}

.book-card h2{
  text-align: center;
  color:rgb(228, 114, 137); 
  padding-top: 3rem;
}

/** styling the Login*/
.book-cards{
  height: 70vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(175, 174, 174, 0.9);

}

.book-cards h3{
  text-align: center;
  color:rgb(228, 114, 137); 
  padding-top: 3rem;

}
.form-image2{
  margin-left: -1.53rem;
  height: 60vh;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(175, 174, 174, 0.9);

}

/*styling the signup */

 .form-image{
  margin-left: -1.53rem;
  height: 60vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(175, 174, 174, 0.9);

} 


/*styling the category component*/
.cate-flex{
  font-family: 'Oswald';
  display: flex;
  justify-content: space-between;

}

.cate-flex h5{
  font-weight: bolder;
  margin-bottom: 3rem;
  
}

.cate-flex h6{
  font-weight: bolder;
  margin-bottom: 3rem;
  margin-right: 2rem;
  
}

.card-social{
  font-size: 6rem;
  color: rgb(228, 114, 137);
  text-align: center;
  


}

 .myimgage{
  width: 10rem;
}

/* styling the footer*/
.book-footer{
  /* background-color: rgb(118, 64, 138); */
  background: #009FFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 6rem;
  width: 100%;
  color: white;
  font-family: "Oswald";
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 3rem;

  
}
/*styling popular books*/

.light-background3{
  background-color: rgba(229, 156, 171, 0.3);
  padding-top: 6rem;
  width: 100%;
  padding-bottom: 5rem;
  animation: mymove 5s infinite;
}

@keyframes mymove{
  from {background-color: rgba(89, 40, 187, 0.3);}
  to {background-color: rgba(99, 23, 116, 0.3);}
}


.links{
  text-decoration: none;
  color: black;
  font-family: "Oswald";
}

.text-title{
  display: flex;
  gap: 20px;
}

.btnn{
  padding: 0.4rem 1.5rem;
  outline: none;
  background-color: blueviolet ;
  color: white;
  border: none;
  border-radius: 5px;
  
}
